name: cg-tutorial
channels:
  - conda-forge
  - omnia
  - mosdef 
dependencies:
  - pip
  - mbuild 
  - foyer
  - py3dmol
  - freud
  - gsd
  - openbabel
  - pip:
    - git+https://github.com/mosdef-hub/mbuild.git
    - pybel
